"""("Artificial Intelligence"[Mesh] OR "Generative Artificial Intelligence"[Mesh] OR "artificial intelligence" OR "informatics" OR "machine learning" OR "deep learning" OR "neural network*" OR "AI" OR "large language" OR "chatgpt") AND ("Dentistry"[Mesh] OR "Evidence-Based Dentistry"[Mesh] OR "Mouth"[Mesh] OR "Oral Medicine"[Mesh] OR "dental[ti]" OR "oral"[ti] OR "dentistry"[ti] OR "mouth"[ti] OR "teeth"[ti] OR "tooth"[ti] OR "buccal"[ti] OR "pharynx"[ti] OR "pharyngeal"[ti] OR "tongue"[ti] OR "maxillary"[ti] OR "mandibular"[ti])"""

Informatics: 533
"""("informatic*"[tiab] ) AND ("Dentistry"[Mesh] OR "Evidence-Based Dentistry"[Mesh] OR "Mouth"[Mesh] OR "Oral Medicine"[Mesh] OR "dental"[tiab] OR "oral"[tiab] OR "dentistry"[tiab] OR "mouth"[tiab] OR "teeth"[tiab] OR "tooth"[tiab] OR "buccal"[tiab] OR "pharynx"[tiab] OR "pharyngeal"[tiab] OR "tongue"[tiab] OR "maxillary"[tiab] OR "mandibular"[tiab])"""

LLMs:
"""("large language"[tiab] OR "chatgpt"[tiab] OR "Generative Artificial Intelligence"[tiab] OR "LLM"[tiab] OR "LLMs"[tiab]) AND ("Dentistry"[Mesh] OR "Evidence-Based Dentistry"[Mesh] OR "Mouth"[Mesh] OR "Oral Medicine"[Mesh] OR "dental"[tiab] OR "oral"[tiab] OR "dentistry"[tiab] OR "mouth"[tiab] OR "teeth"[tiab] OR "tooth"[tiab] OR "buccal"[tiab] OR "pharynx"[tiab] OR "pharyngeal"[tiab] OR "tongue"[tiab] OR "maxillary"[tiab] OR "mandibular"[tiab])"""

In [255]:
import re
import nxviz
import difflib
import pandas as pd
from tqdm import tqdm
import networkx as nx
from Bio import Entrez
from Bio import Medline
from dateutil import parser
from iso3166 import countries
import pycountry_convert as pc
import country_converter as coco
from itertools import combinations
import gender_guesser.detector as gender


# Change this email to your email address
Entrez.email = "pratapsingh@1102@gmail.com"

keyword = """(("Artificial Intelligence"[Mesh] OR "Generative Artificial Intelligence"[Mesh] OR "artificial intelligence" OR "informatics" OR "machine learning" OR "deep learning" OR "neural network*" OR "AI" OR "large language" OR "chatgpt") AND ("Dentistry"[Mesh] OR "Evidence-Based Dentistry"[Mesh] OR "Mouth"[Mesh] OR "Oral Medicine"[Mesh] OR "dental[ti]" OR "oral"[ti] OR "dentistry"[ti] OR "mouth"[ti] OR "teeth"[ti] OR "tooth"[ti] OR "buccal"[ti] OR "pharynx"[ti] OR "pharyngeal"[ti] OR "tongue"[ti] OR "maxillary"[ti] OR "mandibular"[ti])) AND (("1930/01/01"[Date - Publication] : "2020/01/01"[Date - Publication]))"""

result = Entrez.read(Entrez.esearch(db="pubmed", retmax=10, term=keyword))
print(
    "Total number of publications that contain the term {}: {}".format(
        keyword, result["Count"]
    )
)

# Fetch all ids
MAX_COUNT = result["Count"]
result = Entrez.read(
    Entrez.esearch(db="pubmed", retmax=result["Count"], term=keyword)
)

ids = result["IdList"]

batch_size = 100
batches = [ids[x: x + 100] for x in range(0, len(ids), batch_size)]

record_list = []
for batch in tqdm(batches):
    h = Entrez.efetch(db="pubmed", id=batch, rettype="medline", retmode="text")
    records = Medline.parse(h)
    record_list.extend(list(records))
print("Complete.")

from collections import Counter
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

sns.set_style("white")

publication_data = pd.DataFrame(record_list)
publication_data. rename(columns = {'AB':'Abstract', 'CI':'Copyright Information',
                     'AD':'Affiliation', 'IRAD':'Investigator Affiliation',
                     'AU':'Author', 'FAU':'Full Author',
                      'COIS':'Conflict of Interest Statement', 'CRDT':'Create Date',
                      'DEP':'Date of Electronic Publication', 'DP':'Date of Publication',
                      'EN':'Edition', 'ED':'Editor',
                      'GN':'General Note', 'FIR':'Full Investigator Name',
                      'JT':'Journal Title', 'RF':'Number of References',
                      'PL':'Place of Publication', 'PST':'Publication Status',
                      'PT':'Publication Type', 'PUBM':'Publication Model',
                      'NM':'Substance Name', 'TI':'Title', 'LID':'Location Identifier',
                      'PMID':'PubMed Unique Identifier', 'OWN':'Owner', 'STAT':'Status', 'LR':'Date Last Revised', 'IS':'ISSN', 
                      'VI':'Volume', 'IP':'Issue', 'PG':'Pagination',
                      'LA':'Language', 'TA': 'Journal Title Abbreviation', 'JID': 'NLM Unique ID', 
                      'PMC':'PubMed Central Identifier', 'OTO':'Other Term Owner','OT':'Other Term', 'EDAT':'Entrez Date', 
                      'MHDA':'MeSH Date', 'PHST':'Publication History Status', 'AID':'Article Identifier', 'SO':'Source', 
                      'AUID':'Author Identifier', 'GR':'Grant Number', 'SB':'Subset', 'SI': 'Secondary Source ID',
                      'DCOM':'Date Completed', 'RN': 'Registry Number/EC Number', 'MH': 'MeSH Terms', 'BTI':'Book Title', 
                      'PMCR':'PubMed Central Release', 'FED':'Editor and Full Editor Name',
                      'CN':'Corporate Author', 'MID':'Manuscript Identifier', 
                      'IR':'Investigator name and Full Investigator Name'
                      }, inplace = True)


publication_data['keyword'] = keyword

Total number of publications that contain the term (("Artificial Intelligence"[Mesh] OR "Generative Artificial Intelligence"[Mesh] OR "artificial intelligence" OR "informatics" OR "machine learning" OR "deep learning" OR "neural network*" OR "AI" OR "large language" OR "chatgpt") AND ("Dentistry"[Mesh] OR "Evidence-Based Dentistry"[Mesh] OR "Mouth"[Mesh] OR "Oral Medicine"[Mesh] OR "dental[ti]" OR "oral"[ti] OR "dentistry"[ti] OR "mouth"[ti] OR "teeth"[ti] OR "tooth"[ti] OR "buccal"[ti] OR "pharynx"[ti] OR "pharyngeal"[ti] OR "tongue"[ti] OR "maxillary"[ti] OR "mandibular"[ti])) AND (("1930/01/01"[Date - Publication] : "2020/01/01"[Date - Publication])): 6174

100%|███████████████████████████████████████████| 62/62 [00:52<00:00,  1.19it/s]

Complete.

In [258]:
import re
import nxviz
import difflib
import pandas as pd
from tqdm import tqdm
import networkx as nx
from Bio import Entrez
from Bio import Medline
from dateutil import parser
from iso3166 import countries
import pycountry_convert as pc
import country_converter as coco
from itertools import combinations
import gender_guesser.detector as gender


# Change this email to your email address
Entrez.email = "pratapsingh@1102@gmail.com"

keyword = """(("Artificial Intelligence"[Mesh] OR "Generative Artificial Intelligence"[Mesh] OR "artificial intelligence" OR "informatics" OR "machine learning" OR "deep learning" OR "neural network*" OR "AI" OR "large language" OR "chatgpt") AND ("Dentistry"[Mesh] OR "Evidence-Based Dentistry"[Mesh] OR "Mouth"[Mesh] OR "Oral Medicine"[Mesh] OR "dental[ti]" OR "oral"[ti] OR "dentistry"[ti] OR "mouth"[ti] OR "teeth"[ti] OR "tooth"[ti] OR "buccal"[ti] OR "pharynx"[ti] OR "pharyngeal"[ti] OR "tongue"[ti] OR "maxillary"[ti] OR "mandibular"[ti])) AND (("2020/01/01"[Date - Publication] : "3000"[Date - Publication]))"""

result = Entrez.read(Entrez.esearch(db="pubmed", retmax=10, term=keyword))
print(
    "Total number of publications that contain the term {}: {}".format(
        keyword, result["Count"]
    )
)

# Fetch all ids
MAX_COUNT = result["Count"]
result = Entrez.read(
    Entrez.esearch(db="pubmed", retmax=result["Count"], term=keyword)
)

ids = result["IdList"]

batch_size = 100
batches = [ids[x: x + 100] for x in range(0, len(ids), batch_size)]

record_list = []
for batch in tqdm(batches):
    h = Entrez.efetch(db="pubmed", id=batch, rettype="medline", retmode="text")
    records = Medline.parse(h)
    record_list.extend(list(records))
print("Complete.")

from collections import Counter
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

sns.set_style("white")

publication_data1 = pd.DataFrame(record_list)
publication_data1.rename(columns = {'AB':'Abstract', 'CI':'Copyright Information',
                     'AD':'Affiliation', 'IRAD':'Investigator Affiliation',
                     'AU':'Author', 'FAU':'Full Author',
                      'COIS':'Conflict of Interest Statement', 'CRDT':'Create Date',
                      'DEP':'Date of Electronic Publication', 'DP':'Date of Publication',
                      'EN':'Edition', 'ED':'Editor',
                      'GN':'General Note', 'FIR':'Full Investigator Name',
                      'JT':'Journal Title', 'RF':'Number of References',
                      'PL':'Place of Publication', 'PST':'Publication Status',
                      'PT':'Publication Type', 'PUBM':'Publication Model',
                      'NM':'Substance Name', 'TI':'Title', 'LID':'Location Identifier',
                      'PMID':'PubMed Unique Identifier', 'OWN':'Owner', 'STAT':'Status', 'LR':'Date Last Revised', 'IS':'ISSN', 
                      'VI':'Volume', 'IP':'Issue', 'PG':'Pagination',
                      'LA':'Language', 'TA': 'Journal Title Abbreviation', 'JID': 'NLM Unique ID', 
                      'PMC':'PubMed Central Identifier', 'OTO':'Other Term Owner','OT':'Other Term', 'EDAT':'Entrez Date', 
                      'MHDA':'MeSH Date', 'PHST':'Publication History Status', 'AID':'Article Identifier', 'SO':'Source', 
                      'AUID':'Author Identifier', 'GR':'Grant Number', 'SB':'Subset', 'SI': 'Secondary Source ID',
                      'DCOM':'Date Completed', 'RN': 'Registry Number/EC Number', 'MH': 'MeSH Terms', 'BTI':'Book Title', 
                      'PMCR':'PubMed Central Release', 'FED':'Editor and Full Editor Name',
                      'CN':'Corporate Author', 'MID':'Manuscript Identifier', 
                      'IR':'Investigator name and Full Investigator Name'
                      }, inplace = True)


publication_data1['keyword'] = keyword

Total number of publications that contain the term (("Artificial Intelligence"[Mesh] OR "Generative Artificial Intelligence"[Mesh] OR "artificial intelligence" OR "informatics" OR "machine learning" OR "deep learning" OR "neural network*" OR "AI" OR "large language" OR "chatgpt") AND ("Dentistry"[Mesh] OR "Evidence-Based Dentistry"[Mesh] OR "Mouth"[Mesh] OR "Oral Medicine"[Mesh] OR "dental[ti]" OR "oral"[ti] OR "dentistry"[ti] OR "mouth"[ti] OR "teeth"[ti] OR "tooth"[ti] OR "buccal"[ti] OR "pharynx"[ti] OR "pharyngeal"[ti] OR "tongue"[ti] OR "maxillary"[ti] OR "mandibular"[ti])) AND (("2020/01/01"[Date - Publication] : "3000"[Date - Publication])): 5585

100%|███████████████████████████████████████████| 56/56 [00:55<00:00,  1.01it/s]

Complete.

In [259]:
merged = pd.concat([publication_data, publication_data1], ignore_index=True)

In [260]:
merged.shape

(11759, 68)

In [261]:
who_region_map = {
    # African Region (AFRO)
    'Algeria': 'AFRO', 'Angola': 'AFRO', 'Benin': 'AFRO', 'Botswana': 'AFRO', 'Burkina Faso': 'AFRO',
    'Burundi': 'AFRO', 'Cabo Verde': 'AFRO', 'Cameroon': 'AFRO', 'Central African Republic': 'AFRO',
    'Chad': 'AFRO', 'Comoros': 'AFRO', 'Congo': 'AFRO', 'Côte d’Ivoire': 'AFRO', 'Democratic Republic of the Congo': 'AFRO',
    'Equatorial Guinea': 'AFRO', 'Eritrea': 'AFRO', 'Eswatini': 'AFRO', 'Ethiopia': 'AFRO', 'Gabon': 'AFRO',
    'Gambia': 'AFRO', 'Ghana': 'AFRO', 'Guinea': 'AFRO', 'Guinea-Bissau': 'AFRO', 'Kenya': 'AFRO',
    'Lesotho': 'AFRO', 'Liberia': 'AFRO', 'Madagascar': 'AFRO', 'Malawi': 'AFRO', 'Mali': 'AFRO',
    'Mauritania': 'AFRO', 'Mauritius': 'AFRO', 'Mozambique': 'AFRO', 'Namibia': 'AFRO', 'Niger': 'AFRO',
    'Nigeria': 'AFRO', 'Rwanda': 'AFRO', 'Sao Tome and Principe': 'AFRO', 'Senegal': 'AFRO', 'Seychelles': 'AFRO',
    'Sierra Leone': 'AFRO', 'South Africa': 'AFRO', 'South Sudan': 'AFRO', 'Togo': 'AFRO', 'Uganda': 'AFRO',
    'United Republic of Tanzania': 'AFRO', 'Zambia': 'AFRO', 'Zimbabwe': 'AFRO',

    # Region of the Americas (PAHO)
    'Antigua and Barbuda': 'PAHO', 'Argentina': 'PAHO', 'Bahamas': 'PAHO', 'Barbados': 'PAHO', 'Belize': 'PAHO',
    'Bolivia': 'PAHO', 'Brazil': 'PAHO', 'Canada': 'PAHO', 'Chile': 'PAHO', 'Colombia': 'PAHO',
    'Costa Rica': 'PAHO', 'Cuba': 'PAHO', 'Dominica': 'PAHO', 'Dominican Republic': 'PAHO', 'Ecuador': 'PAHO',
    'El Salvador': 'PAHO', 'Grenada': 'PAHO', 'Guatemala': 'PAHO', 'Guyana': 'PAHO', 'Haiti': 'PAHO',
    'Honduras': 'PAHO', 'Jamaica': 'PAHO', 'Mexico': 'PAHO', 'Nicaragua': 'PAHO', 'Panama': 'PAHO',
    'Paraguay': 'PAHO', 'Peru': 'PAHO', 'Saint Kitts and Nevis': 'PAHO', 'Saint Lucia': 'PAHO',
    'Saint Vincent and the Grenadines': 'PAHO', 'Suriname': 'PAHO', 'Trinidad and Tobago': 'PAHO',
    'United States': 'PAHO', 'Uruguay': 'PAHO', 'Venezuela': 'PAHO',

    # South-East Asia Region (SEARO)
    'Bangladesh': 'SEARO', 'Bhutan': 'SEARO', 'DPR Korea': 'SEARO', 'India': 'SEARO',
    'Indonesia': 'SEARO', 'Maldives': 'SEARO', 'Myanmar': 'SEARO', 'Nepal': 'SEARO',
    'Sri Lanka': 'SEARO', 'Thailand': 'SEARO', 'Timor-Leste': 'SEARO',

    # Eastern Mediterranean Region (EMRO)
    'Afghanistan': 'EMRO', 'Bahrain': 'EMRO', 'Djibouti': 'EMRO', 'Egypt': 'EMRO', 'Iran': 'EMRO',
    'Iraq': 'EMRO', 'Jordan': 'EMRO', 'Kuwait': 'EMRO', 'Lebanon': 'EMRO', 'Libya': 'EMRO',
    'Morocco': 'EMRO', 'Oman': 'EMRO', 'Pakistan': 'EMRO', 'Palestine': 'EMRO', 'Qatar': 'EMRO',
    'Saudi Arabia': 'EMRO', 'Somalia': 'EMRO', 'Sudan': 'EMRO', 'Syrian Arab Republic': 'EMRO',
    'Tunisia': 'EMRO', 'United Arab Emirates': 'EMRO', 'Yemen': 'EMRO',

    # European Region (EURO)
    'Albania': 'EURO', 'Andorra': 'EURO', 'Armenia': 'EURO', 'Austria': 'EURO', 'Azerbaijan': 'EURO',
    'Belarus': 'EURO', 'Belgium': 'EURO', 'Bosnia and Herzegovina': 'EURO', 'Bulgaria': 'EURO', 'Croatia': 'EURO',
    'Cyprus': 'EURO', 'Czech Republic': 'EURO', 'Denmark': 'EURO', 'Estonia': 'EURO', 'Finland': 'EURO',
    'France': 'EURO', 'Georgia': 'EURO', 'Germany': 'EURO', 'Greece': 'EURO', 'Hungary': 'EURO',
    'Iceland': 'EURO', 'Ireland': 'EURO', 'Israel': 'EURO', 'Italy': 'EURO', 'Kazakhstan': 'EURO',
    'Kyrgyzstan': 'EURO', 'Latvia': 'EURO', 'Lithuania': 'EURO', 'Luxembourg': 'EURO', 'Malta': 'EURO',
    'Monaco': 'EURO', 'Montenegro': 'EURO', 'Netherlands': 'EURO', 'North Macedonia': 'EURO',
    'Norway': 'EURO', 'Poland': 'EURO', 'Portugal': 'EURO', 'Republic of Moldova': 'EURO', 'Romania': 'EURO',
    'Russian Federation': 'EURO', 'San Marino': 'EURO', 'Serbia': 'EURO', 'Slovakia': 'EURO',
    'Slovenia': 'EURO', 'Spain': 'EURO', 'Sweden': 'EURO', 'Switzerland': 'EURO', 'Tajikistan': 'EURO',
    'Turkey': 'EURO', 'Turkmenistan': 'EURO', 'Ukraine': 'EURO', 'United Kingdom': 'EURO',
    'Uzbekistan': 'EURO', 'England': 'EURO', 'Scotland': 'EURO', 'Italy': 'EURO',

    # Western Pacific Region (WPRO)
    'Australia': 'WPRO', 'Brunei Darussalam': 'WPRO', 'Cambodia': 'WPRO', 'China': 'WPRO',
    'Fiji': 'WPRO', 'Japan': 'WPRO', 'Lao People’s Democratic Republic': 'WPRO', 'Malaysia': 'WPRO',
    'Marshall Islands': 'WPRO', 'Micronesia': 'WPRO', 'Mongolia': 'WPRO', 'Nauru': 'WPRO',
    'New Zealand': 'WPRO', 'Palau': 'WPRO', 'Papua New Guinea': 'WPRO', 'Philippines': 'WPRO',
    'Republic of Korea': 'WPRO', 'Samoa': 'WPRO', 'Singapore': 'WPRO', 'Solomon Islands': 'WPRO',
    'Tonga': 'WPRO', 'Tuvalu': 'WPRO', 'Vanuatu': 'WPRO', 'Viet Nam': 'WPRO', 'Korea (South)': 'WPRO'
}

# Preprocess WHO region map to lowercase for fuzzy matching
who_region_map_lower = {k.lower(): v for k, v in who_region_map.items()}

def relaxed_who_region_lookup(country_name, mapping, cutoff=0.75):
    if pd.isna(country_name):
        return 'Unknown'
    country_name_lc = country_name.strip().lower()
    
    # Direct match first
    if country_name_lc in mapping:
        return mapping[country_name_lc]

    # Fuzzy match
    match = difflib.get_close_matches(country_name_lc, mapping.keys(), n=1, cutoff=cutoff)
    if match:
        return mapping[match[0]]
    return 'Unknown'

merged['WHO Region'] = merged['Place of Publication'].apply(
    lambda x: relaxed_who_region_lookup(x, who_region_map_lower)
)

In [262]:
e = merged.copy()
e['Date Last Revised']= pd.to_datetime(e['Date Last Revised'])
e['Entrez Date']= pd.to_datetime(e['Entrez Date'])
e['Date Completed']= pd.to_datetime(e['Date Completed'])
# e['Date of Publication']= pd.to_datetime(e['Date of Publication'])
e['Date of Electronic Publication']= pd.to_datetime(e['Date of Electronic Publication'])
def approximate_date(date_str):
    if pd.isnull(date_str):
        return pd.NaT
    s = str(date_str)
    # Replace a month range "Jan-Mar" with just "Jan"
    s = re.sub(r'([A-Za-z]{3,9})-[A-Za-z]{3,9}', r'\1', s)
    # If only a year, append Jan
    if re.fullmatch(r'\d{4}', s):
        s += " Jan"
    try:
        return parser.parse(s, default=parser.parse("1900-01-01"))
    except Exception:
        return pd.NaT

e['Date of Publication'] = e['Date of Publication'].apply(approximate_date)
e['Publication Year'] = pd.DatetimeIndex(e['Date of Publication']).year

In [263]:
e.to_excel('AI in Dentistry Data.xlsx')

In [265]:
e['WHO Region'].value_counts()

WHO Region
EURO       6145
PAHO       4748
WPRO        650
SEARO       133
EMRO         53
Unknown      19
AFRO         11
Name: count, dtype: int64

In [264]:
e['Place of Publication'].value_counts()

Place of Publication
United States                4654
England                      3027
Switzerland                   933
Germany                       570
Netherlands                   569
Denmark                       303
China                         254
Japan                         223
Russia (Federation)           138
Italy                         122
India                         117
France                        116
Ireland                        97
Scotland                       80
Australia                      56
Canada                         51
Greece                         46
New Zealand                    42
Korea (South)                  41
Brazil                         40
Singapore                      33
Sweden                         32
Poland                         29
Spain                          17
Thailand                       16
Romania                        15
Georgia (Republic)             15
Belgium                        13
Egypt                          12
United Arab Emirates           12
Saudi Arabia                   10
Iran                           10
Pakistan                        9
South Africa                    7
Croatia                         6
Austria                         5
Bulgaria                        5
Turkey                          5
China (Republic : 1949- )       4
Norway                          4
Czech Republic                  3
Argentina                       3
Israel                          3
Finland                         2
Uganda                          2
Serbia                          2
Cyprus                          1
Lithuania                       1
Nigeria                         1
Kenya                           1
Malaysia                        1
Ukraine                         1
Name: count, dtype: int64

In [66]:
print(e['Date of Publication'].min())
print(e['Date of Publication'].max())
print(e['Date of Publication'].isna().sum())

print(e['Publication Year'].min())
print(e['Publication Year'].max())
print(e['Publication Year'].isna().sum())

1946-01-01 00:00:00
2025-10-15 00:00:00
61
1946.0
2025.0
61

In [64]:
import pandas as pd

years = pd.to_numeric(e['Publication Year'], errors='coerce').dropna()
cut_points = years.quantile([i/6 for i in range(1, 6)]).values

print("Cut points (years that split into 6 equal parts):")
for i, cp in enumerate(cut_points, 1):
    print(f"Cut {i}: {cp}")

Cut points (years that split into 6 equal parts):
Cut 1: 2005.0
Cut 2: 2015.0
Cut 3: 2019.0
Cut 4: 2022.0
Cut 5: 2024.0

In [65]:
import pandas as pd

# Use your existing bins and labels
years = pd.to_numeric(e['Publication Year'], errors='coerce').dropna()
cut_points = years.quantile([i/6 for i in range(1, 6)]).values
bins = [years.min()-1] + list(cut_points) + [years.max()+1]
labels = [f"Period {i+1}" for i in range(6)]
e['Period'] = pd.cut(e['Publication Year'], bins=bins, labels=labels)

# Prepare and print a summary table with ranges and counts
summary = []
for i in range(len(labels)):
    left = int(bins[i]+1)  # Make left edge inclusive
    right = int(bins[i+1]) # Right edge (could be float, so cast to int)
    count = (e['Period'] == labels[i]).sum()
    summary.append({'Period': labels[i], 'Year Range': f"{left} – {right}", 'Count': count})

summary_df = pd.DataFrame(summary)
print(summary_df)

     Period   Year Range  Count
0  Period 1  1946 – 2005   1991
1  Period 2  2006 – 2015   2202
2  Period 3  2016 – 2019   1760
3  Period 4  2020 – 2022   2567
4  Period 5  2023 – 2024   2392
5  Period 6  2025 – 2026    774

In [109]:
start, end = '1946-01-01', '2003-12-31'
mask = e['Date of Publication'].between(start, end)
e[mask].shape

(1737, 70)

In [110]:
start, end = '2004-01-01', '2013-12-31'
mask = e['Date of Publication'].between(start, end)
e[mask].shape

(1764, 70)

In [111]:
start, end = '2014-01-01', '2018-12-31'
mask = e['Date of Publication'].between(start, end)
e[mask].shape

(1934, 70)

In [112]:
start, end = '2019-01-01', '2021-12-31'
mask = e['Date of Publication'].between(start, end)
e[mask].shape

(2136, 70)

In [113]:
start, end = '2022-01-01', '2023-12-31'
mask = e['Date of Publication'].between(start, end)
e[mask].shape

(1928, 70)

In [114]:
start, end = '2024-01-01', '2026-12-31'
mask = e['Date of Publication'].between(start, end)
e[mask].shape

(2187, 70)

In [ ]:
ENTITY_KEYWORDS = [
    r'University', r'Institut(?:e|o)', r'Hospital',
    r'Corporation', r'Company', r'Ltd', r'LLC',
    r'Academy', r'Medical Center', r'Research Group'
]
ENTITY_PATTERN = re.compile(r'(' + '|'.join(ENTITY_KEYWORDS) + r')', re.IGNORECASE)

def extract_entity_keep_tail(affil_str):
    if not isinstance(affil_str, str):
        return affil_str
    parts = [p.strip() for p in affil_str.split(',')]
    for i, part in enumerate(parts):
        if ENTITY_PATTERN.search(part):
            # Return from this part to the end, joined by commas
            return ', '.join(parts[i:])
    # If nothing found, return the original string
    return affil_str

def entity_list_keep_tail(affil_list):
    if isinstance(affil_list, list):
        return [extract_entity_keep_tail(a) for a in affil_list]
    else:
        return extract_entity_keep_tail(affil_list)

e['Entity'] = e['Affiliation'].apply(entity_list_keep_tail)

In [172]:
e['Affiliation'][18]

['Center for Regenerative and Developmental Biology, The Forsyth Institute, Cambridge, MA, United States.',
 'Department of Prosthodontics, Universitas Gadjah Mada, Yogyakarta, Indonesia.',
 'Center for Regenerative and Developmental Biology, The Forsyth Institute, Cambridge, MA, United States.',
 'Division of Neonatology, Cooper University Hospital, Camden, NJ, United States.',
 'Center for Regenerative and Developmental Biology, The Forsyth Institute, Cambridge, MA, United States.',
 'Center for Engineering in Medicine, Department of Surgery, Massachusetts General Hospital and Harvard Medical School, Boston, MA, United States.',
 'Shriners Hospital for Children, Boston, MA, United States.',
 'Department of Molecular Biology, Institute of Biomedical Sciences, Tokushima University, Tokushima, Japan.',
 'Faculty of Human Life Studies, Hiroshima Jogakuin University, Hiroshima, Japan.',
 'Center for Craniofacial Molecular Biology, Herman Ostrow School of Dentistry of USC, University of Southern California, Los Angeles, CA, United States.',
 'University of Utah, Salt Lake City, UT, United States.',
 'Center for Engineering in Medicine, Department of Surgery, Massachusetts General Hospital and Harvard Medical School, Boston, MA, United States.',
 'Shriners Hospital for Children, Boston, MA, United States.']

In [173]:
e['Entity'][18]

['The Forsyth Institute, Cambridge, MA, United States.',
 'Department of Prosthodontics, Universitas Gadjah Mada, Yogyakarta, Indonesia.',
 'The Forsyth Institute, Cambridge, MA, United States.',
 'Cooper University Hospital, Camden, NJ, United States.',
 'The Forsyth Institute, Cambridge, MA, United States.',
 'Massachusetts General Hospital and Harvard Medical School, Boston, MA, United States.',
 'Shriners Hospital for Children, Boston, MA, United States.',
 'Institute of Biomedical Sciences, Tokushima University, Tokushima, Japan.',
 'Hiroshima Jogakuin University, Hiroshima, Japan.',
 'University of Southern California, Los Angeles, CA, United States.',
 'University of Utah, Salt Lake City, UT, United States.',
 'Massachusetts General Hospital and Harvard Medical School, Boston, MA, United States.',
 'Shriners Hospital for Children, Boston, MA, United States.']

In [127]:
import pandas as pd
import numpy as np

periods = [
    ('1946-01-01', '2003-12-31'),
    ('2004-01-01', '2013-12-31'),
    ('2014-01-01', '2018-12-31'),
    ('2019-01-01', '2021-12-31'),
    ('2022-01-01', '2023-12-31'),
    ('2024-01-01', '2026-12-31'),
]

def affil_count(affil):
    if affil is None:
        return 'missing'
    if isinstance(affil, float) and np.isnan(affil):
        return 'missing'
    if isinstance(affil, (list, np.ndarray)):
        l = len(affil)
        if l == 0:
            return 'missing'
        elif l == 1:
            return 'single'
        elif l == 2:
            return 'two'
        elif l >= 3:
            return 'three_plus'
        else:
            return 'other'
    if isinstance(affil, str):
        if affil.strip() == '':
            return 'missing'
        else:
            return 'single'
    return 'other'

results = []
for start, end in periods:
    mask = (e['Date of Publication'] >= start) & (e['Date of Publication'] <= end)
    subset = e.loc[mask]
    total = len(subset)

    affil_cats = subset['Affiliation'].apply(affil_count)
    missing_affil = (affil_cats == 'missing').sum()
    single = (affil_cats == 'single').sum()
    two = (affil_cats == 'two').sum()
    three_plus = (affil_cats == 'three_plus').sum()

    results.append({
        'Period': f"{start} to {end}",
        'Total Papers': total,
        'Missing Affiliations': missing_affil,
        'Single Affiliation': single,
        '2 Affiliations': two,
        '3+ Affiliations': three_plus
    })

summary_df = pd.DataFrame(results)
summary_df

,Period,Total Papers,Missing Affiliations,Single Affiliation,2 Affiliations,3+ Affiliations
0,1946-01-01 to 2003-12-31,1737,428,1309,0,0
1,2004-01-01 to 2013-12-31,1764,68,1659,2,35
2,2014-01-01 to 2018-12-31,1934,77,222,76,1559
3,2019-01-01 to 2021-12-31,2136,73,38,65,1960
4,2022-01-01 to 2023-12-31,1928,57,49,73,1749
5,2024-01-01 to 2026-12-31,2187,74,63,101,1949

In [177]:
import pandas as pd
import numpy as np

periods = [
    ('1946-01-01', '2003-12-31'),
    ('2004-01-01', '2013-12-31'),
    ('2014-01-01', '2018-12-31'),
    ('2019-01-01', '2021-12-31'),
    ('2022-01-01', '2023-12-31'),
    ('2024-01-01', '2026-12-31'),
]

def affil_count(val):
    if val is None:
        return 'missing'
    if isinstance(val, float) and np.isnan(val):
        return 'missing'
    if isinstance(val, (list, np.ndarray)):
        l = len(val)
        if l == 0:
            return 'missing'
        elif l == 1:
            return 'single'
        elif l == 2:
            return 'two'
        elif l >= 3:
            return 'three_plus'
        else:
            return 'other'
    if isinstance(val, str):
        if val.strip() == '':
            return 'missing'
        else:
            return 'single'
    return 'other'

def deduplicate(val):
    if isinstance(val, list):
        cleaned = [x.strip() for x in val if isinstance(x, str) and x.strip() != '']
        return list(set(cleaned))
    else:
        return val

results = []
for start, end in periods:
    mask = (e['Date of Publication'] >= start) & (e['Date of Publication'] <= end)
    subset = e.loc[mask]
    total = len(subset)

    # Affiliations (deduplicated)
    dedup_affils = subset['Affiliation'].apply(deduplicate)
    affil_cats = dedup_affils.apply(affil_count)
    missing_affil = (affil_cats == 'missing').sum()
    single = (affil_cats == 'single').sum()
    two = (affil_cats == 'two').sum()
    three_plus = (affil_cats == 'three_plus').sum()

    # Entities (deduplicated)
    dedup_entities = subset['Entity'].apply(deduplicate)
    entity_cats = dedup_entities.apply(affil_count)
    missing_entity = (entity_cats == 'missing').sum()
    single_entity = (entity_cats == 'single').sum()
    two_entity = (entity_cats == 'two').sum()
    three_plus_entity = (entity_cats == 'three_plus').sum()

    results.append({
        'Period': f"{start} to {end}",
        'Total Papers': total,
        'Missing Affiliations': missing_affil,
        'Single Affiliation': single,
        '2 Affiliations': two,
        '3+ Affiliations': three_plus,
        'Missing Entities': missing_entity,
        'Single Entity': single_entity,
        '2 Entities': two_entity,
        '3+ Entities': three_plus_entity
    })

summary_df = pd.DataFrame(results)
summary_df

,Period,Total Papers,Missing Affiliations,Single Affiliation,2 Affiliations,3+ Affiliations,Missing Entities,Single Entity,2 Entities,3+ Entities
0,1946-01-01 to 2003-12-31,1737,428,1309,0,0,428,1309,0,0
1,2004-01-01 to 2013-12-31,1764,68,1663,5,28,68,1663,5,28
2,2014-01-01 to 2018-12-31,1934,77,316,245,1296,77,365,308,1184
3,2019-01-01 to 2021-12-31,2136,73,145,301,1617,73,213,398,1452
4,2022-01-01 to 2023-12-31,1928,57,134,252,1485,57,184,346,1341
5,2024-01-01 to 2026-12-31,2187,74,151,304,1658,74,217,381,1515

In [180]:
# for i, row in subset.iterrows():
#     affil = deduplicate(row['Affiliation'])
#     entity = deduplicate(row['Entity'])
#     affil_cat = affil_count(affil)
#     entity_cat = affil_count(entity)
#     if affil_cat != entity_cat:
#         print("Affiliation:", affil, "(", affil_cat, ")")
#         print("Entity:", entity, "(", entity_cat, ")")
#         print("---")

In [186]:
import re
import pandas as pd
from itertools import combinations
from collections import Counter
from pyvis.network import Network

# --- CONFIGURATION ---
START, END = 2024, 2026

import re

# Pre-compile your category patterns for speed & maintainability
patterns = {
    'Dental': re.compile(
        r'\b('
        r'dental|oral|maxillofacial|odontology|stomatology|prosthodontic|'
        r'endodontic|orthodontic|periodontic|oral surgery|restorative|periodontology'
        r'implantology'
        r')\b',
        re.IGNORECASE
    ),
    'Medical': re.compile(
        r'\b('
        r'medical|medicine|hospital|clinic|health|cardiology|neurology|oncology|brain|metabolism|cognitive|life science'
        r'pediatrics|psychiatry|geriatrics|urology|nephrology|endocrinology|chemistry|infectious|clinical'
        r'rheumatology|dermatology|gastroenterology|pulmonology|neuroscience|pharmacotherapy|cellular'
        r'otorhinolaryngology|ophthalmology|radiology|anesthesiology|anatomy|biology|molecular|biochemistry|biophysics'
        r'pathology|immunology|public health|epidemiology|pharmacology|physiology|cancer|clinical research'
        r')\b',
        re.IGNORECASE
    ),
    'Technical': re.compile(
        r'\b('
        r'technical|technology|engineering|polytechnic|'
        r'computer science|informatics|electronics|mechanical|civil|bioengineering'
        r'chemical|aerospace|software|electrical|materials science|'
        r'robotics|translational|biomedical|bioinformatics'
        r')\b',
        re.IGNORECASE
    ),
}

def classify_institute(name: str) -> str:
    """
    Classify an institution name into Dental, Medical, Technical or Other
    based on keyword matching.
    """
    for category, pattern in patterns.items():
        if pattern.search(name):
            return category
    return 'Other'


type_color = {
    'Dental':    '#e31a1c',
    'Medical':   '#1f78b4',
    'Technical': '#33a02c',
    'Other':     'lightgray'
}

# --- FILTER TO MOST RECENT DECADE ---
mask = (
    e['Publication Year'].between(START, END) &
    e['Affiliation'].apply(lambda lst: isinstance(lst, list) and len(lst) > 1)
    # e['WHO Region'] == 'PAHO'
)
decade_papers = e.loc[mask, 'Affiliation']

# --- BUILD EDGES ---
edges = []
for inst_list in decade_papers:
    insts = list(dict.fromkeys(inst_list))
    edges += combinations(insts, 2)

edge_counts = Counter(edges)
edge_df = pd.DataFrame(
    [(a, b, w) for (a, b), w in edge_counts.items()],
    columns=['Source', 'Target', 'Weight']
)

# --- CLASSIFY & COLOR ---
all_insts = set(edge_df['Source']) | set(edge_df['Target'])
inst_type = {i: classify_institute(i) for i in all_insts}

# --- RENDER WITH PyVis ---
net = Network(
    height='100vh', width='100vw',
    bgcolor='#222222', font_color='white',
    directed=False
)
net.set_options("""
var options = {
  "nodes": {"font": {"size":20, "color":"white"}},
  "edges": {"color":{"color":"gray"}, "width":2, "smooth":false},
  "interaction": {"hover":true, "tooltipDelay":50},
  "physics": {"barnesHut": {"gravitationalConstant": -20000, "springLength":250}}
}
""")

for inst, typ in inst_type.items():
    net.add_node(
        inst,
        label=inst,
        title=f"<b>Institution:</b> {inst}<br><b>Type:</b> {typ}",
        color=type_color[typ]
    )

for _, row in edge_df.iterrows():
    net.add_edge(
        row['Source'], row['Target'],
        value=row['Weight'],
        title=f"Co‐publications: {row['Weight']}"
    )

net.write_html(f"Institutions_Network_{START}_{END}.html")
print(f"▶ Saved: Institutions_Network_{START}_{END}.html")

▶ Saved: Institutions_Network_2024_2026.html

In [193]:
import json
import pickle

In [194]:

# ── 1) HTML → NetworkX Loader (find any two DataSets) ─────────────────────────

def load_pyvis_html(path):
    """
    Parse a PyVis HTML file by pulling out the first two
    new vis.DataSet([...]) blocks (nodes, then edges).
    """
    with open(path, 'r', encoding='utf-8') as f:
        html = f.read()

    arrays = re.findall(r'new vis\.DataSet\(\s*(\[[\s\S]*?\])\s*\)', 
                        html, flags=re.S)
    if len(arrays) < 2:
        raise ValueError(f"Expected ≥2 DataSet arrays in {path}, found {len(arrays)}")

    nodes = json.loads(arrays[0])
    edges = json.loads(arrays[1])

    G = nx.Graph()
    for n in nodes:
        nid = n.pop('id')
        G.add_node(nid, **n)
    for e in edges:
        u, v = e.pop('from'), e.pop('to')
        # PyVis calls edge weight "value"
        if 'value' in e:
            e['weight'] = e.pop('value')
        G.add_edge(u, v, **e)

    return G

# ── 2) Analysis Utilities ─────────────────────────────────────────────────────

KEY_TYPES = {'Dental', 'Medical', 'Technical'}

def graph_metrics(G):
    nodes = G.number_of_nodes()
    edges = G.number_of_edges()
    if nodes == 0 or edges == 0:
        avg_clustering = 0.0
        largest_cc = 0
        density = 0.0
    else:
        avg_clustering = nx.average_clustering(G, weight='weight')
        largest_cc = len(max(nx.connected_components(G), key=len))
        density = nx.density(G)
    return {
        'nodes': nodes,
        'edges': edges,
        'density': density,
        'avg_clustering': avg_clustering,
        'largest_cc': largest_cc,
    }


def top_centralities(G, n=10):
    deg_c = nx.degree_centrality(G)
    bet_c = nx.betweenness_centrality(G, weight='weight', normalized=True)
    top_deg = sorted(deg_c.items(), key=lambda x:-x[1])[:n]
    top_bet = sorted(bet_c.items(), key=lambda x:-x[1])[:n]
    return pd.DataFrame({
        'rank':      list(range(1,n+1)),
        'deg_node':  [u for u,_ in top_deg],
        'deg_score': [s for _,s in top_deg],
        'bet_node':  [u for u,_ in top_bet],
        'bet_score': [s for _,s in top_bet],
    })

def jaccard(a,b):
    return len(a & b) / len(a | b) if (a or b) else 0.0

def build_diff_graph(G1,G2):
    E1, E2 = set(G1.edges()), set(G2.edges())
    Gd = nx.Graph()
    for n in set(G1)|set(G2):
        attrs = G2.nodes[n] if n in G2 else G1.nodes[n]
        Gd.add_node(n, **attrs)
    for u,v in E1|E2:
        color = ('gray' if (u,v) in E1 & E2
                 else 'red' if (u,v) in E1
                 else 'green')
        w = (G1[u][v].get('weight',1) if G1.has_edge(u,v) else 0) + \
            (G2[u][v].get('weight',1) if G2.has_edge(u,v) else 0)
        Gd.add_edge(u,v, weight=w, color=color)
    return Gd

def analyze_graph(G):
    m = {
        'num_nodes': G.number_of_nodes(),
        'num_edges': G.number_of_edges(),
        'avg_edge_weight': (
            sum(d['weight'] for _,_,d in G.edges(data=True))
            / G.number_of_edges()
            if G.number_of_edges() else 0
        )
    }
    comps = list(nx.connected_components(G))
    m['num_clusters'] = len(comps)
    same = {t:0 for t in KEY_TYPES}
    two  = {('Dental','Medical'):0, ('Dental','Technical'):0, ('Medical','Technical'):0}
    three = 0
    for comp in comps:
        types = {G.nodes[n].get('type') for n in comp} & KEY_TYPES
        if   len(types)==1:
            same[next(iter(types))] += 1
        elif len(types)==2:
            two[tuple(sorted(types))] += 1
        elif types==KEY_TYPES:
            three += 1
    m['same_color_clusters']  = same
    m['two_color_clusters']   = two
    m['three_color_clusters'] = three
    return pd.Series(m)
    
# ── 3) Load, Classify, Analyze & Display ──────────────────────────────────────

# 3a) Period labels and corresponding HTML files
periods   = ["1946-2003", "2004-2013", "2014-2018", "2019-2021", "2022-2023", "2024-2026"]
htmls     = ["Institutions_Network_1946_2003.html",
             "Institutions_Network_2004_2013.html",
             "Institutions_Network_2014_2018.html",
             "Institutions_Network_2019_2021.html",
             "Institutions_Network_2022_2023.html",
             "Institutions_Network_2024_2026.html"]

# 3b) Institutions to track
track_nodes = [
    "University of California, San Francisco, CA, USA.",
    "Asociacion Civil Impacta Salud y Educacion, Lima",
    # add more as needed
]

# 3c) Load & classify all graphs
Gs = {}
for p, h in zip(periods, htmls):
    G = load_pyvis_html(h)
    for n in G.nodes():
        G.nodes[n]['type'] = classify_institute(n)
    Gs[p] = G

# 3d) Global metrics table
global_df = pd.DataFrame({p: graph_metrics(Gs[p]) for p in periods}).T
print("=== Global Metrics ===")
display(global_df)

# 3e) Top 10 centralities per period
# for p in periods:
#     print(f"=== Top 10 Centralities ({p}) ===")
#     display(top_centralities(Gs[p], n=10))

# 3f) Overlap & Jaccard for adjacent periods
overlap_records = []
for p, q in zip(periods, periods[1:]):
    n1, n2 = set(Gs[p]), set(Gs[q])
    e1, e2 = set(Gs[p].edges()), set(Gs[q].edges())
    overlap_records.append({
        'from': p, 'to': q,
        'node_jaccard':   jaccard(n1, n2),
        'edge_jaccard':   jaccard(e1, e2),
        'new_nodes':      len(n2 - n1),
        'dropped_nodes':  len(n1 - n2),
        'new_edges':      len(e2 - e1),
        'dropped_edges':  len(e1 - e2),
    })
overlap_df = pd.DataFrame(overlap_records)
print("=== Overlap & Jaccard ===")
display(overlap_df)

# 3g) Difference graphs pickled
for p, q in zip(periods, periods[1:]):
    Gd = build_diff_graph(Gs[p], Gs[q])
    fn = f"diff_{p.replace('-','')}_vs_{q.replace('-','')}.gpickle"
    with open(fn, 'wb') as f:
        pickle.dump(Gd, f)
    print(f"▶ Pickled difference graph → {fn}")

# 3h) Cluster & color-mix comparison
cluster_df = pd.concat({p: analyze_graph(Gs[p]) for p in periods}, axis=1).T
print("=== Cluster & Color-Mix Comparison ===")
display(cluster_df)

# 3i) Centrality trajectories for tracked institutions
deg_traj = pd.DataFrame({
    p: {node: nx.degree_centrality(Gs[p]).get(node, 0) for node in track_nodes}
    for p in periods
}).T
bet_traj = pd.DataFrame({
    p: {node: nx.betweenness_centrality(Gs[p], weight='weight').get(node, 0) for node in track_nodes}
    for p in periods
}).T

print("=== Degree Centrality Trajectories ===")
display(deg_traj)
print("=== Betweenness Centrality Trajectories ===")
display(bet_traj)

=== Global Metrics ===

            nodes    edges   density  avg_clustering  largest_cc
1946-2003     0.0      0.0  0.000000        0.000000         0.0
2004-2013   164.0    448.0  0.033518        0.939024        11.0
2014-2018  7494.0  26516.0  0.000944        0.233386       142.0
2019-2021  8658.0  29540.0  0.000788        0.126850        82.0
2022-2023  9273.0  82850.0  0.001927        0.158193       389.0
2024-2026  9690.0  32060.0  0.000683        0.188198       253.0

=== Overlap & Jaccard ===

,from,to,node_jaccard,edge_jaccard,new_nodes,dropped_nodes,new_edges,dropped_edges
0,1946-2003,2004-2013,0.000000,0.000000,164,0,448,0
1,2004-2013,2014-2018,0.001832,0.000297,7480,150,26508,440
2,2014-2018,2019-2021,0.016105,0.003635,8402,7238,29337,26313
3,2019-2021,2022-2023,0.023693,0.004244,8858,8243,82375,29065
4,2022-2023,2024-2026,0.021383,0.005126,9293,8876,31474,82264

▶ Pickled difference graph → diff_19462003_vs_20042013.gpickle
▶ Pickled difference graph → diff_20042013_vs_20142018.gpickle
▶ Pickled difference graph → diff_20142018_vs_20192021.gpickle
▶ Pickled difference graph → diff_20192021_vs_20222023.gpickle
▶ Pickled difference graph → diff_20222023_vs_20242026.gpickle
=== Cluster & Color-Mix Comparison ===

,num_nodes,num_edges,avg_edge_weight,num_clusters,same_color_clusters,two_color_clusters,three_color_clusters
1946-2003,0,0,0,0,"{'Technical': 0, 'Dental': 0, 'Medical': 0}","{('Dental', 'Medical'): 0, ('Dental', 'Technic...",0
2004-2013,164,448,1.0,33,"{'Technical': 1, 'Dental': 1, 'Medical': 17}","{('Dental', 'Medical'): 3, ('Dental', 'Technic...",3
2014-2018,7494,26516,1.016782,1338,"{'Technical': 49, 'Dental': 94, 'Medical': 614}","{('Dental', 'Medical'): 302, ('Dental', 'Techn...",59
2019-2021,8658,29540,1.087204,1509,"{'Technical': 80, 'Dental': 135, 'Medical': 596}","{('Dental', 'Medical'): 311, ('Dental', 'Techn...",100
2022-2023,9273,82850,1.007677,1467,"{'Technical': 75, 'Dental': 181, 'Medical': 438}","{('Dental', 'Medical'): 304, ('Dental', 'Techn...",132
2024-2026,9690,32060,1.028291,1671,"{'Technical': 83, 'Dental': 281, 'Medical': 429}","{('Dental', 'Medical'): 367, ('Dental', 'Techn...",139

=== Degree Centrality Trajectories ===

,"University of California, San Francisco, CA, USA.","Asociacion Civil Impacta Salud y Educacion, Lima"
1946-2003,0.000000,0.0
2004-2013,0.000000,0.0
2014-2018,0.004137,0.0
2019-2021,0.000000,0.0
2022-2023,0.000000,0.0
2024-2026,0.000000,0.0

=== Betweenness Centrality Trajectories ===

,"University of California, San Francisco, CA, USA.","Asociacion Civil Impacta Salud y Educacion, Lima"
1946-2003,0.000000,0.0
2004-2013,0.000000,0.0
2014-2018,0.000014,0.0
2019-2021,0.000000,0.0
2022-2023,0.000000,0.0
2024-2026,0.000000,0.0

In [195]:
import re, json, pickle, networkx as nx
import pandas as pd

# ... (Your load_pyvis_html, classify_institute, etc. as above) ...

# ---- NEW: DENSITY & DEGREE METRICS UTILITIES ----
def get_density_metrics(G_prev, G_next):
    """
    Calculate various normalized/relative density metrics for two consecutive periods.
    Returns a dict with keys:
      - density_existing: Density among persistent (intersection) institutions
      - density_new: Density among new institutions in this period
      - avg_degree: Edges / nodes in current graph
      - edge_growth_per_new: New edges / new nodes (to measure integration)
    """
    nodes_prev = set(G_prev.nodes())
    nodes_next = set(G_next.nodes())
    nodes_both = nodes_prev & nodes_next
    nodes_new = nodes_next - nodes_prev

    # Density among persistent institutions
    if len(nodes_both) > 1:
        subG_both = G_next.subgraph(nodes_both)
        density_existing = nx.density(subG_both)
    else:
        density_existing = 0.0

    # Density among new institutions
    if len(nodes_new) > 1:
        subG_new = G_next.subgraph(nodes_new)
        density_new = nx.density(subG_new)
    else:
        density_new = 0.0

    # Edge growth per new node
    new_edges = [
        (u, v) for (u, v) in G_next.edges()
        if (u in nodes_new or v in nodes_new)
    ]
    edge_growth_per_new = len(new_edges) / len(nodes_new) if nodes_new else 0.0

    # Average degree (all institutions)
    avg_degree = (2 * G_next.number_of_edges() / G_next.number_of_nodes()) if G_next.number_of_nodes() > 0 else 0.0

    return {
        'density_existing': density_existing,
        'density_new': density_new,
        'avg_degree': avg_degree,
        'edge_growth_per_new': edge_growth_per_new,
        'new_nodes': len(nodes_new),
        'returning_nodes': len(nodes_both),
    }

# ---- (rest of your analysis code as before) ----

# 3c) Load & classify all graphs
Gs = {}
for p, h in zip(periods, htmls):
    G = load_pyvis_html(h)
    for n in G.nodes():
        G.nodes[n]['type'] = classify_institute(n)
    Gs[p] = G

# 3d) Global metrics table
global_df = pd.DataFrame({p: graph_metrics(Gs[p]) for p in periods}).T
print("=== Global Metrics ===")
display(global_df)

# ---- NEW: NORMALIZED/RELATIVE DENSITY TABLE ----
density_metrics = []
for i in range(1, len(periods)):
    prev_p, curr_p = periods[i-1], periods[i]
    G_prev, G_curr = Gs[prev_p], Gs[curr_p]
    met = get_density_metrics(G_prev, G_curr)
    met['from'] = prev_p
    met['to'] = curr_p
    density_metrics.append(met)

density_df = pd.DataFrame(density_metrics)
print("=== Normalized/Relative Density & Degree ===")
display(density_df[['from', 'to', 'density_existing', 'density_new', 'avg_degree', 'edge_growth_per_new', 'new_nodes', 'returning_nodes']])

overlap_records = []
for p, q in zip(periods, periods[1:]):
    n1, n2 = set(Gs[p]), set(Gs[q])
    e1, e2 = set(Gs[p].edges()), set(Gs[q].edges())
    overlap_records.append({
        'from': p, 'to': q,
        'node_jaccard':   jaccard(n1, n2),
        'edge_jaccard':   jaccard(e1, e2),
        'new_nodes':      len(n2 - n1),
        'dropped_nodes':  len(n1 - n2),
        'new_edges':      len(e2 - e1),
        'dropped_edges':  len(e1 - e2),
    })
overlap_df = pd.DataFrame(overlap_records)
print("=== Overlap & Jaccard ===")
display(overlap_df)

# 3g) Difference graphs pickled
for p, q in zip(periods, periods[1:]):
    Gd = build_diff_graph(Gs[p], Gs[q])
    fn = f"diff_{p.replace('-','')}_vs_{q.replace('-','')}.gpickle"
    with open(fn, 'wb') as f:
        pickle.dump(Gd, f)
    print(f"▶ Pickled difference graph → {fn}")

# 3h) Cluster & color-mix comparison
cluster_df = pd.concat({p: analyze_graph(Gs[p]) for p in periods}, axis=1).T
print("=== Cluster & Color-Mix Comparison ===")
display(cluster_df)

# 3i) Centrality trajectories for tracked institutions
deg_traj = pd.DataFrame({
    p: {node: nx.degree_centrality(Gs[p]).get(node, 0) for node in track_nodes}
    for p in periods
}).T
bet_traj = pd.DataFrame({
    p: {node: nx.betweenness_centrality(Gs[p], weight='weight').get(node, 0) for node in track_nodes}
    for p in periods
}).T

print("=== Degree Centrality Trajectories ===")
display(deg_traj)
print("=== Betweenness Centrality Trajectories ===")
display(bet_traj)

=== Global Metrics ===

            nodes    edges   density  avg_clustering  largest_cc
1946-2003     0.0      0.0  0.000000        0.000000         0.0
2004-2013   164.0    448.0  0.033518        0.939024        11.0
2014-2018  7494.0  26516.0  0.000944        0.233386       142.0
2019-2021  8658.0  29540.0  0.000788        0.126850        82.0
2022-2023  9273.0  82850.0  0.001927        0.158193       389.0
2024-2026  9690.0  32060.0  0.000683        0.188198       253.0

=== Normalized/Relative Density & Degree ===

,from,to,density_existing,density_new,avg_degree,edge_growth_per_new,new_nodes,returning_nodes
0,1946-2003,2004-2013,0.000000,0.033518,5.463415,2.731707,164,0
1,2004-2013,2014-2018,0.098901,0.000945,7.076595,3.543717,7480,14
2,2014-2018,2019-2021,0.007261,0.000786,6.823747,3.487622,8402,256
3,2019-2021,2022-2023,0.006565,0.001995,17.869082,9.289456,8858,415
4,2022-2023,2024-2026,0.009592,0.000669,6.617131,3.368772,9293,397

=== Overlap & Jaccard ===

,from,to,node_jaccard,edge_jaccard,new_nodes,dropped_nodes,new_edges,dropped_edges
0,1946-2003,2004-2013,0.000000,0.000000,164,0,448,0
1,2004-2013,2014-2018,0.001832,0.000297,7480,150,26508,440
2,2014-2018,2019-2021,0.016105,0.003635,8402,7238,29337,26313
3,2019-2021,2022-2023,0.023693,0.004244,8858,8243,82375,29065
4,2022-2023,2024-2026,0.021383,0.005126,9293,8876,31474,82264

▶ Pickled difference graph → diff_19462003_vs_20042013.gpickle
▶ Pickled difference graph → diff_20042013_vs_20142018.gpickle
▶ Pickled difference graph → diff_20142018_vs_20192021.gpickle
▶ Pickled difference graph → diff_20192021_vs_20222023.gpickle
▶ Pickled difference graph → diff_20222023_vs_20242026.gpickle
=== Cluster & Color-Mix Comparison ===

,num_nodes,num_edges,avg_edge_weight,num_clusters,same_color_clusters,two_color_clusters,three_color_clusters
1946-2003,0,0,0,0,"{'Technical': 0, 'Dental': 0, 'Medical': 0}","{('Dental', 'Medical'): 0, ('Dental', 'Technic...",0
2004-2013,164,448,1.0,33,"{'Technical': 1, 'Dental': 1, 'Medical': 17}","{('Dental', 'Medical'): 3, ('Dental', 'Technic...",3
2014-2018,7494,26516,1.016782,1338,"{'Technical': 49, 'Dental': 94, 'Medical': 614}","{('Dental', 'Medical'): 302, ('Dental', 'Techn...",59
2019-2021,8658,29540,1.087204,1509,"{'Technical': 80, 'Dental': 135, 'Medical': 596}","{('Dental', 'Medical'): 311, ('Dental', 'Techn...",100
2022-2023,9273,82850,1.007677,1467,"{'Technical': 75, 'Dental': 181, 'Medical': 438}","{('Dental', 'Medical'): 304, ('Dental', 'Techn...",132
2024-2026,9690,32060,1.028291,1671,"{'Technical': 83, 'Dental': 281, 'Medical': 429}","{('Dental', 'Medical'): 367, ('Dental', 'Techn...",139

=== Degree Centrality Trajectories ===

,"University of California, San Francisco, CA, USA.","Asociacion Civil Impacta Salud y Educacion, Lima"
1946-2003,0.000000,0.0
2004-2013,0.000000,0.0
2014-2018,0.004137,0.0
2019-2021,0.000000,0.0
2022-2023,0.000000,0.0
2024-2026,0.000000,0.0

=== Betweenness Centrality Trajectories ===

,"University of California, San Francisco, CA, USA.","Asociacion Civil Impacta Salud y Educacion, Lima"
1946-2003,0.000000,0.0
2004-2013,0.000000,0.0
2014-2018,0.000014,0.0
2019-2021,0.000000,0.0
2022-2023,0.000000,0.0
2024-2026,0.000000,0.0

In [197]:
pd.set_option("max_colwidth", None)
cluster_df

,num_nodes,num_edges,avg_edge_weight,num_clusters,same_color_clusters,two_color_clusters,three_color_clusters
1946-2003,0,0,0,0,"{'Technical': 0, 'Dental': 0, 'Medical': 0}","{('Dental', 'Medical'): 0, ('Dental', 'Technical'): 0, ('Medical', 'Technical'): 0}",0
2004-2013,164,448,1.0,33,"{'Technical': 1, 'Dental': 1, 'Medical': 17}","{('Dental', 'Medical'): 3, ('Dental', 'Technical'): 0, ('Medical', 'Technical'): 7}",3
2014-2018,7494,26516,1.016782,1338,"{'Technical': 49, 'Dental': 94, 'Medical': 614}","{('Dental', 'Medical'): 302, ('Dental', 'Technical'): 45, ('Medical', 'Technical'): 117}",59
2019-2021,8658,29540,1.087204,1509,"{'Technical': 80, 'Dental': 135, 'Medical': 596}","{('Dental', 'Medical'): 311, ('Dental', 'Technical'): 71, ('Medical', 'Technical'): 161}",100
2022-2023,9273,82850,1.007677,1467,"{'Technical': 75, 'Dental': 181, 'Medical': 438}","{('Dental', 'Medical'): 304, ('Dental', 'Technical'): 109, ('Medical', 'Technical'): 180}",132
2024-2026,9690,32060,1.028291,1671,"{'Technical': 83, 'Dental': 281, 'Medical': 429}","{('Dental', 'Medical'): 367, ('Dental', 'Technical'): 141, ('Medical', 'Technical'): 160}",139

In [198]:
# ── Additional Analysis: Single-vs-Constant Players (robust) ───────────────────

# 1) Ensure Gs is already defined, mapping each period to its NetworkX graph

# 2) Count in how many periods each institution appears
appearance_counts = {}
for period, graph in Gs.items():
    for inst in graph.nodes():
        appearance_counts[inst] = appearance_counts.get(inst, 0) + 1

# 3) Build a distribution of “periods_present” → institution_count
import pandas as pd
ap_df = pd.Series(appearance_counts, name="periods_present")
dist = (
    ap_df
    .value_counts()
    .sort_index()
    .rename_axis("periods_present")
    .reset_index(name="institution_count")
)
display(dist)

# 4) Safely pull out the two key numbers (default to 0 if missing)
single_row = dist.loc[dist.periods_present == 1, "institution_count"]
single = int(single_row.iloc[0]) if not single_row.empty else 0

constant_row = dist.loc[dist.periods_present == len(periods), "institution_count"]
constant = int(constant_row.iloc[0]) if not constant_row.empty else 0

print(f"{single} institutions appeared in only one period; {constant} appeared in all {len(periods)} periods.")

   periods_present  institution_count
0                1              32719
1                2               1068
2                3                120
3                4                 16

32719 institutions appeared in only one period; 0 appeared in all 6 periods.

In [224]:
import re
import nxviz
import difflib
import pandas as pd
from tqdm import tqdm
import networkx as nx
from Bio import Entrez
from Bio import Medline
from dateutil import parser
from iso3166 import countries
import pycountry_convert as pc
import country_converter as coco
from itertools import combinations
import gender_guesser.detector as gender


# Change this email to your email address
Entrez.email = "pratapsingh@1102@gmail.com"

keyword = """University of Texas Health Science Center at Houston AND ("systematic review"[Publication Type] OR "meta analysis"[Publication Type] OR "network meta analysis"[Publication Type])"""

result = Entrez.read(Entrez.esearch(db="pubmed", retmax=10, term=keyword))
print(
    "Total number of publications that contain the term {}: {}".format(
        keyword, result["Count"]
    )
)

# Fetch all ids
MAX_COUNT = result["Count"]
result = Entrez.read(
    Entrez.esearch(db="pubmed", retmax=result["Count"], term=keyword)
)

ids = result["IdList"]

batch_size = 100
batches = [ids[x: x + 100] for x in range(0, len(ids), batch_size)]

record_list = []
for batch in tqdm(batches):
    h = Entrez.efetch(db="pubmed", id=batch, rettype="medline", retmode="text")
    records = Medline.parse(h)
    record_list.extend(list(records))
print("Complete.")

from collections import Counter
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

sns.set_style("white")

publication_data = pd.DataFrame(record_list)
publication_data. rename(columns = {'AB':'Abstract', 'CI':'Copyright Information',
                     'AD':'Affiliation', 'IRAD':'Investigator Affiliation',
                     'AU':'Author', 'FAU':'Full Author',
                      'COIS':'Conflict of Interest Statement', 'CRDT':'Create Date',
                      'DEP':'Date of Electronic Publication', 'DP':'Date of Publication',
                      'EN':'Edition', 'ED':'Editor',
                      'GN':'General Note', 'FIR':'Full Investigator Name',
                      'JT':'Journal Title', 'RF':'Number of References',
                      'PL':'Place of Publication', 'PST':'Publication Status',
                      'PT':'Publication Type', 'PUBM':'Publication Model',
                      'NM':'Substance Name', 'TI':'Title', 'LID':'Location Identifier',
                      'PMID':'PubMed Unique Identifier', 'OWN':'Owner', 'STAT':'Status', 'LR':'Date Last Revised', 'IS':'ISSN', 
                      'VI':'Volume', 'IP':'Issue', 'PG':'Pagination',
                      'LA':'Language', 'TA': 'Journal Title Abbreviation', 'JID': 'NLM Unique ID', 
                      'PMC':'PubMed Central Identifier', 'OTO':'Other Term Owner','OT':'Other Term', 'EDAT':'Entrez Date', 
                      'MHDA':'MeSH Date', 'PHST':'Publication History Status', 'AID':'Article Identifier', 'SO':'Source', 
                      'AUID':'Author Identifier', 'GR':'Grant Number', 'SB':'Subset', 'SI': 'Secondary Source ID',
                      'DCOM':'Date Completed', 'RN': 'Registry Number/EC Number', 'MH': 'MeSH Terms', 'BTI':'Book Title', 
                      'PMCR':'PubMed Central Release', 'FED':'Editor and Full Editor Name',
                      'CN':'Corporate Author', 'MID':'Manuscript Identifier', 
                      'IR':'Investigator name and Full Investigator Name'
                      }, inplace = True)


publication_data['keyword'] = keyword

Total number of publications that contain the term University of Texas Health Science Center at Houston AND ("systematic review"[Publication Type] OR "meta analysis"[Publication Type] OR "network meta analysis"[Publication Type]): 1642

100%|███████████████████████████████████████████| 17/17 [00:25<00:00,  1.51s/it]

Complete.

In [225]:
e = publication_data.copy()
e['Date Last Revised']= pd.to_datetime(e['Date Last Revised'])
e['Entrez Date']= pd.to_datetime(e['Entrez Date'])
e['Date Completed']= pd.to_datetime(e['Date Completed'])
# e['Date of Publication']= pd.to_datetime(e['Date of Publication'])
e['Date of Electronic Publication']= pd.to_datetime(e['Date of Electronic Publication'])
def approximate_date(date_str):
    if pd.isnull(date_str):
        return pd.NaT
    s = str(date_str)
    # Replace a month range "Jan-Mar" with just "Jan"
    s = re.sub(r'([A-Za-z]{3,9})-[A-Za-z]{3,9}', r'\1', s)
    # If only a year, append Jan
    if re.fullmatch(r'\d{4}', s):
        s += " Jan"
    try:
        return parser.parse(s, default=parser.parse("1900-01-01"))
    except Exception:
        return pd.NaT

e['Date of Publication'] = e['Date of Publication'].apply(approximate_date)
e['Publication Year'] = pd.DatetimeIndex(e['Date of Publication']).year

In [205]:
e.columns

Index(['PubMed Unique Identifier', 'Owner', 'Status', 'Date Completed',
       'Date Last Revised', 'ISSN', 'Volume', 'Issue', 'Date of Publication',
       'Title', 'Pagination', 'Location Identifier', 'Abstract',
       'Copyright Information', 'Full Author', 'Author', 'Author Identifier',
       'Affiliation', 'Language', 'Grant Number', 'Publication Type',
       'Date of Electronic Publication', 'Place of Publication',
       'Journal Title Abbreviation', 'Journal Title', 'NLM Unique ID',
       'Subset', 'MeSH Terms', 'PubMed Central Identifier',
       'Conflict of Interest Statement', 'Entrez Date', 'MeSH Date',
       'PubMed Central Release', 'Create Date', 'Publication History Status',
       'Article Identifier', 'Publication Status', 'Source',
       'Other Term Owner', 'Other Term', 'Corporate Author',
       'Registry Number/EC Number', 'Full Investigator Name',
       'Investigator name and Full Investigator Name', 'OAB', 'OABL',
       'Manuscript Identifier', 'Investigator Affiliation', 'CIN',
       'Secondary Source ID', 'UOF', 'EIN', 'TT', 'OID',
       'Number of References', 'General Note', 'keyword', 'Publication Year'],
      dtype='object')

In [210]:
e.shape

(612, 58)

In [212]:
import pandas as pd
from itertools import combinations
from collections import Counter
from pyvis.network import Network

# --- CONFIGURATION ---
START, END = 2020, 2026

# --- FILTER TO MOST RECENT PERIOD & MULTI-AUTHOR PAPERS ---
# Assume e is your DataFrame and "Authors" is a list of author names per paper
mask = (
    e['Publication Year'].between(START, END)
    & e['Full Author'].apply(lambda lst: isinstance(lst, list) and len(lst) > 1)
)
papers = e.loc[mask, 'Full Author']

# --- BUILD CO-AUTHOR EDGES ---
edges = []
for author_list in papers:
    # Remove duplicates within one paper
    unique_authors = list(dict.fromkeys(author_list))
    edges += combinations(unique_authors, 2)

# Count how many papers each pair shares
edge_counts = Counter(edges)
edge_df = pd.DataFrame(
    [(a, b, w) for (a, b), w in edge_counts.items()],
    columns=['Source', 'Target', 'Weight']
)

# --- RENDER WITH PyVis ---
net = Network(
    height='100vh', width='100vw',
    bgcolor='#222222', font_color='white',
    directed=False
)
net.set_options("""
var options = {
  "nodes": {"font": {"size":20, "color":"white"}},
  "edges": {"color":{"color":"gray"}, "width":2, "smooth":false},
  "interaction": {"hover":true, "tooltipDelay":50},
  "physics": {"barnesHut": {"gravitationalConstant": -20000, "springLength":250}}
}
""")

# Add each author as a node
all_authors = set(edge_df['Source']) | set(edge_df['Target'])
for author in all_authors:
    net.add_node(
        author,
        label=author,
        title=f"<b>Author:</b> {author}"
        # no color parameter → default styling
    )

# Add edges with thickness based on co-publication count
for _, row in edge_df.iterrows():
    net.add_edge(
        row['Source'], row['Target'],
        value=row['Weight'],
        title=f"Co-publications: {row['Weight']}"
    )

# Write out and report
filename = f"Authors_Network_{START}_{END}.html"
net.write_html(filename)
print(f"▶ Saved: {filename}")

KeyboardInterrupt:

In [226]:
import pandas as pd
from collections import Counter
from itertools import chain

# --- CONFIGURATION ---
START, END = 2020, 2026

# --- FILTER TO YOUR PERIOD & MULTI-AUTHOR PAPERS ---
mask = (
    e['Publication Year'].between(START, END)
    & e['Full Author'].apply(lambda lst: isinstance(lst, list) and len(lst) > 0)
)
author_lists = e.loc[mask, 'Full Author']

# --- FLATTEN & COUNT ---
# chain.from_iterable will turn [[A, B], [A, C, D], …] into [A, B, A, C, D, …]
all_authors = list(chain.from_iterable(author_lists))
author_counts = Counter(all_authors)

# --- BUILD TABLE ---
author_pub_df = (
    pd.DataFrame.from_records(
        list(author_counts.items()),
        columns=['Author', 'PublicationCount']
    )
    .sort_values('PublicationCount', ascending=False)
    .reset_index(drop=True)
)

author_pub_df

                     Author  PublicationCount
0           Fornage, Myriam                38
1            Psaty, Bruce M                31
2          Rotter, Jerome I                29
3          Boerwinkle, Eric                22
4             Bis, Joshua C                21
...                     ...               ...
15251  Weber-Lassalle, Nana                 1
15252      Wiesmuller, Lisa                 1
15253        Winham, Stacey                 1
15254     Yadav, Siddhartha                 1
15255      Resta, Nicoletta                 1

[15256 rows x 2 columns]

In [251]:
sessler_row = author_pub_df[
    author_pub_df['Author'].str.contains('Sessler, Daniel I', case=False, na=False)
]
sessler_row

                  Author  PublicationCount
11226  Sessler, Daniel I                 1

In [254]:
sessler_row = author_pub_df[
    author_pub_df['Author'].str.contains('Vargas', case=False, na=False)
]
sessler_row

                     Author  PublicationCount
14231        Vargas, Victor                 1
14559  Florez-Vargas, Oscar                 1

In [240]:
author_pub_df.to_csv('Authors that published systematic reviews in collaboration with UTHealth Houston.csv', index = False)